@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #030412;
  --color-deepNight: #101626;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-glacier: #14323a;
  --color-aurora: #26e4c4;
  --color-binaryGlow: #1bbfc2;
  --color-cardOverlay: #0f2a2f;
  --color-auroraStart: #14323a;
  --color-auroraMid: #1b3744;
  --color-auroraEnd: #26e4c4;
}
body {
  background: #020414;
  font-family: "Funnel Display", sans-serif;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hover-animation {
  @apply hover:-translate-y-1 duration-200;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

.spacing {
  @apply sm:px-10 px-5 lg:px-15;
}

.text-heading {
  @apply font-bold text-3xl md:text-4xl;
}

.head-text-about-me {
  @apply text-binaryGlow mt-2 mb-2 text-xl;
}

.sub-text-about-me {
  @apply text-white text-sm md:text-base text-pretty;
}

.nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

.nav-li {
  @apply text-neutral-400 hover:text-white max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
}

.nav-link {
  @apply text-lg md:text-base hover:text-white transition-colors;
}

.grid-about-me-intro {
  @apply row-span-2 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-about-me-techstack {
  @apply row-span-2 md:col-span-3 h-auto md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-about-me-main {
  @apply row-span-1 md:col-span-3 h-[16rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-techstack-color {
  @apply p-6 bg-gradient-to-b from-[#14323a] via-[#1b3744] to-[##26e4c4] rounded-2xl;
}

.contactLabel {
  @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
}

.contactInput {
  @apply w-full min-h-10 rounded-md px-3 py-2 text-sm bg-white/10 transition duration-200 placeholder-neutral-500 border border-white/10 mt-2;
}

.contactInput-focus {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white/20;
}